@import "../../constants/default.css";

.label {
    display: flex;
    flex-direction: column;
    color: var(--blue);
}



.inputContainer {
    background-color: var(--light-gray);
    border: none;
    border-radius: 6px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}


.input {
    background-color: var(--light-gray);
    border: none;
    width: 90%
}

.input:focus {
    outline: none;
}
