.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 1%;
}

.icon {
    width: 5%;
    height: 5%;
    margin-bottom: 20px;
}

@media (max-width: 460px) {
    .container {
	max-height: 10%;
    }

    .icon {
	width: 15%;
	max-height: 10%;
    }
}
