@import "../../constants/default.css";

.content {
    margin: 30px;
}

.title {
    color: var(--blue);
    font-weight: bold;
}

.text {
    color: var(--light-gray-2);
}

.continueAndTerms {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continueAndTerms > button {
    width: 100%;
    margin-bottom: 10px;
}
